.content{
	width: 600px;
    margin: 0 auto;
    background: #f1f1f1;
    box-shadow: 0px 2px 3px #ccc;
    padding: 50px;
    margin-top: 100px;
    border: 1px solid #ccc;
}
.content h4{
    margin-top: 0px;
    text-align: center;
}
.content .search{
padding: 8px 30px;
margin: 0 auto;
display: table;
margin-top:20px;
}
.content .input{
width: 50%;
margin: 0 auto;
}
.content input{
    font-size: 16px;
    height: auto;
}
.hidden-result{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.hidden-result p{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
}
.hidden-result .reset-btn{
    text-align: right;
}